DATABASE_URL=postgres://coupon_user:coupon_pass@localhost:5432/coupon_db
DATABASE_URL_TEST=postgres://coupon_user:coupon_pass@localhost:5432/coupon_db_test

POSTGRES_USER=coupon_user
POSTGRES_PASSWORD=coupon_pass
POSTGRES_DB=coupon_db

HOST=0.0.0.0
PORT=3000

LOG_LEVEL=info